
Latex/tesi.pdf
Latex/tesi.tex.bak
Latex/tesi.aux
Latex/tesi.bcf
Latex/tesi.lof
Latex/tesi.log
Latex/tesi.pdf
Latex/tesi.run.xml
Latex/tesi.synctex.gz
Latex/tesi.toc
Latex/tesi.tex
Latex/tesi.aux
Latex/tesi.log
Latex/tesi.pdf
Latex/tesi.synctex.gz
Latex/tesi.tex.bak
Latex/tesi.toc
Latex/tesi.tex
*.tex
